@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html,
body {
  background-image: url("https://i1.wp.com/caps.pictures/198/6-castleinthesky/full/castleinthesky-disneyscreencaps.com-414.jpg");
  background-size: cover;
}

.header {
  background: #011f4ebc;
  height: 7vw;
  background-image: url("./images/studio-ghibli_0.png");
  background-size: 20vw;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: flex-end;
  opacity: 0.9;
  align-items: center;
}

.header button {
  background-color:transparent;
  border: none;
  color: white;
  padding: 4vh;
  width: 18vw;
  font-size: 1.6vw;
  cursor: pointer;
  font-family: 'Nanum Gothic';
}

.filter {
  background-color: #01519b8f;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.filter button {
  background-color: transparent;
  border: none;
  color: rgb(214, 211, 211);
  padding: 1vh 3vw;
  width: 50vw;
  font-size: 1vw;
  cursor: pointer;
  font-family: 'Nanum Gothic';
  font-weight: bold;

}
.gridAll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 39vw;
  background-image: url("./images/894d5e8ee8190a41c4baaaed35bf3597.png");
  background-position: 0, 0;
  background-size: 48vw;
  background-repeat: no-repeat;
  opacity: 0.7;
 
}


.ColumnOne {
  grid-column: 1/2;
  margin-bottom: 4vh;
  align-self: flex-end;
  height: 23vh;
  width: 20vw;
  justify-self: center;
  border-radius: 2vw;
  background-color: #001c47f1;
  color: #f0ebeb;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3vw;
  max-height: 23vh;
}

.ColumnTwo {
  text-align: center;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(2, 21vw);
  overflow: auto;
  background-color:transparent;
  margin: 2vw;
  grid-column-gap: 9vw;
  grid-row-gap: -1vw;
  margin-left: 4vw;
}

.ColumnTwo div {
  margin: 1vw;
  background-color: transparent;
  text-align: center;
  display: grid;
  grid-template-rows: 24vh;
  align-items:flex-start;
  justify-content: center;
  cursor: pointer;
  background-color: #197e74;
  border-radius: 1vw;
 
}

.ColumnTwo img {
 height: calc(10vw - 1.7vw);
  width: calc(18vw - 0.5vw);
  object-fit: cover;
  border-radius: 2vh;
  margin-top: 1vh;
}

.ColumnTwo h4 {
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: aliceblue;
  font-family: 'Nanum Gothic';
  font-size: 1.5vh;
  height: calc(1vw - 1vw);
  align-items: center;
  margin-top: -4vh;
}

footer {
  font-size: 1.5vw;
  text-align: center;
  color: aliceblue;
  background: #011f4ee2;
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 1vh;
  height:  3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ColumnOne p {
  line-height :4vh;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2em;
}
