@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html,
body {
  background-image: url('https://cdna.artstation.com/p/assets/images/images/047/160/908/original/pxsprite-space.gif?1646911392');
  background-size: cover;
}

.header {
  background: #180757e1;
  height: 7vw;
  background-image: url("./images/studio-ghibli_0.png");
  background-size: 17vw;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: flex-start;
  opacity: 0.9;
  align-items: center;
  padding-left: 0.3vw;
  z-index: 1;
}

.startingScreen {
  margin-bottom: 20vh;
  display: flex;
  font-size: 1.4vw;
  align-items: center;
  color: rgb(251, 244, 224);
  font-family: 'Patrick Hand', cursive;
}

.startingScreen:before {
  content: "";
  width: 100%;
  height: 70.6%;
  background-color: #040610f4;
  position: absolute;
  opacity: 0.5;
}

.startingScreen img {
  width: 40vw;
  position: relative;
  opacity: 0.75;
  margin-top: 4vh
}

.initialText {
  padding: 8vw;
  align-items: rigth;
  flex-direction: column;
  position: relative;
  justify-self: end;
  text-align: right
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown button {
  border: none;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  background-color: #180757cc;
  width: 19.55vw;
  height: 7vh;
  font-size: 1.2vw;
  font-family: 'Nanum Gothic';
  align-items: center;
  flex-grow: 1;
  flex-wrap: nowrap;
}

.dropdown:hover button {
  background-color: #1d052cac;
  color: white;
}

.dropdown div {
  background-color: #180757d8;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  margin-left: 1vw;
  min-width: 100%;
  opacity: 0;
  transition: 0.5s;
  margin-left: 0vw;
}

.dropdown:hover div {
  visibility: visible;
  opacity: 1;
}

.dropdown div a {
  display: block;
  text-decoration: none;
  padding: 1vw;
  color: rgb(240, 255, 248);
  transition: 0.5s;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 1vw;
  font-size: 1vw;
  font-family: 'Nanum Gothic';
}

.dropdown div a:hover {
  background-color: #290b3b6d;
  color: #fff;
}

#home {
  width: 8vw;
  height: 13vh;
  background-image: url("./images/flame.png");
  background-size: cover;
  border-radius: 1.5vw;
  background-repeat: no-repeat;
}


.gridAll {
  height: 72vh;
  display: none;
  background-color: #0c00088d;
}

.ColumnTwo,
.allCharacters,
.male,
.female,
.unspecified,#result
 {
  text-align: center;
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  overflow: auto;
  background-color: transparent;
  margin: 2vw;
  grid-column-gap: 9vw;
  grid-row-gap: -1vw;
}

#result{
  height: 50vh;
  margin-top: -2vh;
}

.ColumnTwo div,
.allCharacters div,
.male div,
.female div,
.unspecified div, #result div {
  margin: 1vw;
  text-align: center;
  display: grid;
  grid-template-rows: 24vh;
  align-items: flex-start;
  justify-content: center;
  background-color: #2a6660;
  border-radius: 1vw;
}

.ColumnTwo img,
.allCharacters img,
.male img,
.female img,
.unspecified img, #result img {
  height: calc(10.5vw - 1.7vw);
  width: calc(18vw - 0.5vw);
  object-fit: cover;
  border-radius: 2vh;
  margin-top: 1vh;
}

.ColumnTwo h4, #result h4 {
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Patrick Hand', cursive;
  font-size: 2.7vh;
  height: calc(1vw - 1vw);
  align-items: center;
  margin-top: -4.5vh;
}

footer {
  color: rgb(222, 232, 240);
  background: #180757cb;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  font-family: 'Patrick Hand', cursive;
  font-size: 1.4vw;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.all {
  display: grid;
  background-size: contain;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 36vw;
  position: relative;
  display: none;
  background-color: #0c00088d;
}

.spaceRigth {
  grid-column: 1/2;
  margin-left: 5vw;
}

#imgHayao,
#imgYoshifumi,
#imgIsao,
#imgHiroyuki,
#imgGoro,
#imgHiromasa {
  display: none;
  width: 65%;
  margin-top: 10vh;
  margin-left: 5.5vw;
}

.allDirectors {
  grid-column: 2/4;
  overflow: auto;
  background-color: #07238b4d;
  padding: 3vw;
  margin: 4vw;
  border-radius: 2vw;
}

.columnHayao,
.columnIsao,
.columnYoshifumi,
.columnHiromasa,
.columnGoro,
.columnHiroyuki {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2vw;
  row-gap: 2vh;
  display: grid;
  padding: 0.8vw;
  display: none;
}


.columnHayao div,
.columnIsao div,
.columnYoshifumi div,
.columnHiromasa div,
.columnGoro div,
.columnHiroyuki div{
  background-color: #286976be;
  border-radius: 1vw;
  padding: .8vw;
  height: 10vh;
  width: 14vw;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
}

h2 {
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Patrick Hand';
  font-size: 2.1vh;
  align-items: center;
  margin-top: -0.5vh;
}

h6 {
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Patrick Hand', cursive;
  font-size: 2.3vh;
  margin-top: -2vh;
}

.ColumnTwo h3,
.allCharacters h2,
.male h2,
.female h2,
.unspecified h2 {
  text-align: center;
  justify-items: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: 'Patrick Hand', cursive;
  font-size: 2.7vh;
  height: calc(1vw - 1vw);
  align-items: center;
  margin-top: -4.5vh;
}

.allCharacters div,
.male div,
.female div,
.unspecified div {
  background-color: #9c4c75da;
}

.allPeopleMovies {
  height: 72vh;
  display: none;
  background-color: #00040c8d;
}

.didyouKnow,
.spaceSearch {
  height: 72vh;
  background-color: #020a238f;
  display: grid;
  color: aliceblue;
  font-family: 'Patrick Hand';
  font-size: 3vh;
  padding: 2vw;
  display: none;
  text-align: center;
}

.didyouKnow div {
  background-color: #042253;
  border-radius: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 1vw;
  overflow: auto;
}

.dykMovies {
  height: 60vh;
  display: grid;
  justify-content: center;
}

.dykMovies img {
  width: calc(25vw - 0.5vw);
  object-fit: cover;
  border-radius: 2vh;
}

.dykMovies .announce {
  margin: 0;
}

.higherRT {
  display: flex;
  height: 44vh;
}

#startImage {
  width: 40%;
  margin-top: 4vh;
  justify-self: center;
  box-shadow: 0 0 20px rgb(20, 160, 207);
}

.cardKnow {
  position: relative;
  width: 40%;
  height: 20vw;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  justify-self: center;
}

.cardKnow div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 2s;
  width: 22vw;
}

.cardKnow .front {
  transform: perspective(500px) rotateY(0deg);
}

.cardKnow .back {
  transform: perspective(500px) rotateY(180deg);
}

.cardKnow:hover .front {
  transform: perspective(500px) rotateY(180deg);
}

.cardKnow:hover .back {
  transform: perspective(500px) rotateY(360deg);
}

.space3 {
  display: flex;
  height: 40vh;
}

.space2 {
  height: 30vh;
}

#result div{
  height: 25vh;
}

#formSearch{
  border-radius: 1vw;
  height: 2vw;
  width: 30vw;
  margin-top: 2vh;
  margin-right: 4vh;
  background-color: #07151e97;
  color: aliceblue;
  font-family: 'Patrick Hand';
  font-size: 2.5vh;
  padding: 0.8vw;
  box-shadow: 0 0 30px rgb(73, 34, 158);
}

@media (max-width: 800px) {
  .header {
    height: 12vh;
    width: 101%;
    background-size: 23vw;
  }

  .startingScreen {
    font-size: 2.4vw;
    height: 72vh;
  }

  .startingScreen:before {
    height: 72%;
  }

  .startingScreen img {
    width: 56vw;
  }

  .initialText {
    padding: 4vw;
    margin-bottom: 10vh;
  }

  .dropdown button {
    padding: 8px 16px;
    width: 24.11vw;
    height: 7vh;
    font-size: 1.8vw;
  }

  .dropdown div a {
    font-size: 1.8vw;
  }

  .ColumnTwo,
  .allCharacters,
  .male,
  .female,
  .unspecified {
    grid-column: 2/4;
    grid-template-columns: repeat(2, 27vw);
    grid-column-gap: 15vw;
    grid-row-gap: 2vw;
  }

  .ColumnTwo div,
  .allCharacters div,
  .male div,
  .female div,
  .unspecified div {
    grid-template-rows: 18vh;

  }

  .unspecified div {
    height: 20vh;
  }


  .ColumnTwo img,
  .allCharacters img,
  .male img,
  .female img,
  .unspecified img {
    height: calc(12vw - 1.7vw);
    width: calc(23.5vw - 0.5vw);
  }

  .ColumnTwo h4 {
    font-size: 2vh;
  }

  footer {
    height: 6vh;
    font-size: 2.3vw;
  }

  #imgHayao,
  #imgYoshifumi,
  #imgIsao,
  #imgHiroyuki,
  #imgGoro,
  #imgHiromasa {
    width: 95%;
    margin-left: 0vw;
  }

  h2 {
    margin-top: -0.5vh;
  }

  h6 {
    font-size: 2vh;
    margin-top: -1.5vh;
  }

  .ColumnTwo h3,
  .allCharacters h2,
  .male h2,
  .female h2,
  .unspecified h2 {
    font-size: 2vh;
  }


  .allDirectors {
    height: 56vh;
  }

  .columnHayao,
  .columnIsao,
  .columnYoshifumi,
  .columnHiromasa,
  .columnGoro,
  .columnHiroyuki {
    grid-template-columns: repeat(2, 1fr);
  }

  .columnHayao div,
  .columnIsao div,
  .columnYoshifumi div,
  .columnHiromasa div,
  .columnGoro div,
  .columnHiroyuki div {
    width: 20vw;
  }

}